<?xml version="1.0" encoding="UTF-8"?>
<web-app
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://xmlns.jcp.org/xml/ns/javaee"
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
<servlet>
    <servlet-name>MyBatisInitializer</servlet-name>
    <servlet-class>infMarket.models.mybatis.config.MyBatisConfig</servlet-class>
    <load-on-startup>1</load-on-startup>
</servlet>

<welcome-file-list>
    <welcome-file>/siteInfo/siteInfo.jsp</welcome-file>
</welcome-file-list>
<servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/siteInfo/siteInfo.jsp</jsp-file>
</servlet>

<servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
</servlet-mapping>

<!--   아래 예시-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>packageManage</servlet-name>-->
<!--        <url-pattern>/packageManage</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    <servlet>-->
<!--        <servlet-name>packageManage</servlet-name>-->
<!--        <jsp-file>/PackageManage/PackageManage.jsp</jsp-file>-->
<!--    </servlet>-->
</web-app>